h1,
}
.font {
    font-family: sans-serif;
}
.size {
    font-size: 50px;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.background2 {
    background-color: whitesmoke;
}
.background3 {
    background-color: grey;
}
body {
    background-image: url(../assets/Images/indexstyle.jpg);
}
.col-rad {
    border-radius: 25px;
}

.col-rad2 {
    border-radius: 50px;
}